posts#show
<%= @post.content %>

<% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
<%= link_to("/likes/#{@post.id}/destroy", {method: "post" ,class: "btn message"}) do %>
<span class="btn message">投票を取り消す</span>
<% end %>
<% else %>
<%= link_to("/likes/#{@post.id}/create", {method: "post",class: "btn message"}) do %>
<span class="btn message">投票する</span>
<% end %>
<% end %>
<%= @likes_count %>
<%= image_tag @post.image.thumb.url %>
<% if @post.user_id == @current_user.id %>
<%= link_to("編集", "/posts/#{@post.id}/edit") %>
<%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
<% end %>
